@charset "UTF-8";

#wrap{
	width: 1600px;
	margin: 0 auto;
	font-family: "나눔고딕";
}


header{
	height: 200px;
}

/*nav*/
#loginStatus{
	width: 200px;
}

.main-menu{
	height: 60px;
	align-items: end;
	background-color:#b3ffc3;
}


footer{
	height: 200px;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 10px;
}


/*회원가입*/
#joinForm{
	width: 350px;
}

/*로그인*/
#loginForm{
	width: 350px;
}



/*메인 페이지*/


.movie-thumbnail{
	height: 300px;
}

.movie-subInfo{
	height: 800px;
}

.movie-1{
	height: 580px;
	width: 280px;
	border: 1px solid;
}
#searchInput{
	margin-top: 11px;
}

#event-section{
	margin-bottom: 100px;
}

.gift-section{
	width: 470px;
	height: 500px;
	border: 1px solid;
	border-color: #c7c7c7;
	border-radius: 10px;
}

#client-notice{
	height: 400px;
}


/*글자 정렬*/
.right{
	text-align: right;
}