@charset "UTF-8";

#wrap{
	width: 1600px;
	margin: 0 auto;
	font-family: "나눔고딕";
}


header{
	height: 200px;
}

/*nav*/
#loginStatus{
	width: 200px;
}

.main-menu-form{
	height: 60px;
	align-items: end;
	background-color:#b3ffc3;
}

.main-menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 60px;
}

.sub-menu{
	list-style-type: none;
	position: absolute;
	margin: 0;
	padding: 0;
	visibility: hidden;
	background-color: #b3ffc3;
	margin-top: 10px;
}

.sub-menu > li{
	height: 40px;
	width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sub-menu > li:hover{
	background-color: #9ae6aa;
}

.sub-menu > li > a{
	color: black;
	text-decoration-line: none;
}

.main-menu > li{
	float: left;
}

.main-menu > li:hover .sub-menu{
	visibility: visible;
}



.main-menu > li > a{
	display: block;
	padding: 8px 16px;
	text-align: center;
	color: black;
	text-decoration-line: none;
}

#mainPageSearchBtn{
	height: 38px;
}


footer{
	height: 200px;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 10px;
}


.rightMargin{
	margin-right: 40px;
}

/*회원가입*/
#joinForm{
	width: 450px;
	height: 700px;
	background-color: #ffebde;
}

#zipJoinForm{
	width:340px;
}

/*로그인*/
#loginForm{
	width: 350px;
	height: 450px;
	background-color: #ffebde;
}

/*아이디 비밀번호 찾기*/
#findAccount{
	width: 400px;
	height: 300px;
	background-color: #ffebde;
}

#findIdForm{
	width: 400px;
	height: 300px;
	background-color: #ffebde;
}

#findPwForm{
	width: 400px;
	height: 300px;
	background-color: #ffebde;
}

#returnIdForm{
	width: 600px;
	height: 300px;
	background-color: #ffebde;
}

#returnPwForm{
	width: 600px;
	height: 300px;
	background-color: #ffebde;
}

#showId{
	margin-top: 125px;
}

#showTempPw{
	margin-top: 125px;
}

#resetPwForm{
	width: 450px;
	height: 300px;
	background-color: #ffebde;
}



/*메인 페이지*/
.movie-thumbnail{
	height: 300px;
}

.movie-subInfo{
	height: 800px;
}

.movie-1{
	height: 580px;
	width: 280px;
	border: 1px solid;
}
#searchInput{
	margin-top: 11px;
}

#event-section{
	margin-bottom: 100px;
}

.gift-section{
	width: 470px;
	height: 500px;
	border: 1px solid;
	border-color: #c7c7c7;
	border-radius: 10px;
}

#client-notice{
	height: 400px;
}



/*영화 상세 정보 입력*/
#detail{
	resize: none;
	width: 503px;
	border-radius: 7px;
	border-color: #c7c7c7;
	padding-left: 13px;
	padding-top: 10px;
}

.movieInfoInputForm{
	height: 700px;
	background-color: #f9ffb5;
}
.movieInfoTextInput{
	height: 60px;
}
.big-font{
	font-size: 60px;
}
#imagePreview{
	width: 75%;
}

/*영화 리스트*/
.poster-cell{
	width: 200px;
	text-align: center;	
}

.poster-image{
	width: 100px;
	height: auto;
}

/*영화 상세 정보 창*/
#movieInfoDetail{
	width: 600px;
}



/*영화 별 관 설정*/
#assignRoomForm{
	width: 500px;
	height: 200px;
	background-color: #d4d448;
}

/*관 등록 폼*/
#addRoomForm{
	width: 500px;
	height: 350px;
	background-color: #d4d448;
}


/*관 리스트
.roomName-cell{
	width: 1100px;
	text-align: center;	
}
*/
.roomListAlterBtn-cell{
	width: 150px;
	text-align:center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-line-break{
	white-space: nowrap;
}


#assignShowTimeForm{
	width: 700px;
	height: 230px;
	background-color: #ffebde;
}

.runTimeBtn{
	border-color:black;
	width:100px;
	background-color: #F5F5F5;
}

#movieDetailForm{
	width: 500px;
	height: 300px;
}

#inputClientNumberForm{
	width: 1200px;
	height: 300px;
	background-color: #ffebde;
	/* 글씨 하단 배치 위함*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.subCntBtn{
	width: 38px;
	height: 38px;
}

.addCntBtn{
	width: 38px;
	height: 38px;
}

#ageInfoForm{
	background-color: #fd9cff;
}

#submitBookInfoBtn{
	background-color: #de3f46;
}